.text-block {
    height: 100%;//temp
    background-color:  #bbb; //temp
    @include col-row {
        background-color:  #ddd;
      };

    &_half {
        @include col($num-cal: 8);
    }

}

