.text-block {
    height: 100%;//temp
    background-color:  #bbb; //temp


    
//------------------------------------------------------------------------------
//  mods
//------------------------------------------------------------------------------
    &_half {
        width: 50%;
    }


//------------------------------------------------------------------------------
//  mobile
//------------------------------------------------------------------------------
    @include single-col {
        background-color:  #ddd;
      };
}

