$font-size-button:  $base-font-size*1.8;
$font-size-button-mv: $base-font-size*1.25;

$font-color-container-info: white;
$font-size-title-info: $base-font-size*1.5;
$font-size-description-info: $base-font-size*1.4;
$font-size-title-info-mv: $base-font-size*1.1;
$font-size-description-info-mv: $base-font-size*1;

$tran-duration-info: 1s;
$tran-info-offset: 150px; //not %

$bullet-size: 1.1em; //1.1em
$bullet-margin: .4em; //.4em
$bullet-border-width: 2px;

.simple-slider {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #fff;

    &__item {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: #fff;
    }

    &__img {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: opacity .8s;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }


    &__scrim {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 5;
        will-change: background-color;
        transition: background-color .5s;
    }

    //------------------------------------------------------------------------------
    //  button
    //------------------------------------------------------------------------------
    &__button {
        font-size: $font-size-button;
        padding: .5em .33em;  //todo: translate for em
        color: white;
        position: absolute;
        z-index: 50;
        transition: all .2s;
        cursor: pointer;
        user-select: none;
    }

    &__button:hover {
        color: $pink-text;//rgba(170, 255, 162, 0.6);
        text-shadow: $dark-pink 0 0 3px;
        opacity: 0.6;
    }

    &__button_prev {
        left: 1%;
        top: calc(50% -  #{$base-font-size*3});
    }
    &__button_next {
        right: 1%;
        top: calc(50% - #{$base-font-size*3});
    }
    
    &__button_play-pause {
        right: 1%;
        bottom: 0;
    }
    


    //------------------------------------------------------------------------------
    //  icon
    //------------------------------------------------------------------------------

    &__icon {
        vertical-align: middle;
        display: inline-block;
    }
    
    &__icon-loaded {
        font-size: $base-font-size*2;
        color: $dark-pink;
        position: absolute;
        z-index: 0;
        left: calc(50% - #{$base-font-size});
        top: calc(50% - #{$base-font-size});
    }


    //------------------------------------------------------------------------------
    //  container-info
    //------------------------------------------------------------------------------

    &__container-info {
        color: $font-color-container-info;
        text-align: center;
        position: absolute;
        left: 0; right: 0;
        bottom: 10%;
        margin: auto;
        max-width: $scr-sm;
        z-index: 10;
    }

    &__title-info {
        font-size: $font-size-title-info;
        letter-spacing: 0.04em;
        margin: auto;
        display: inline-block;
        padding: 0 1em;
        position: relative;
        transition: opacity $tran-duration-info, transform $tran-duration-info;

    
        //border-bottom
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            margin: auto;
            left: 0;
            right: 0;
            height: 2px;
            background-color: #fff;
            transition: width $tran-duration-info, transform $tran-duration-info;
            transform: initial;
        }

        //for animation, initial value
        &_initAnim {
            transition: none;
            opacity: 0;
            transform: translateX(-$tran-info-offset);

            //for animation, initial value (bottom line)
            &::after {
                transition: none;
                width: 0;
                transform: translateX($tran-info-offset);
            }

        }

    }
    
    &__description-info {
        font-size: $font-size-description-info;
        padding: 0 0.5em;
        transition: opacity $tran-duration-info, transform $tran-duration-info;

        //for animation, initial value
        &_initAnim {
            transition: none;
            opacity: 0;
            transform: translateX($tran-info-offset);
        }

    }

    //***Bullets 

    &__bullets {
        display: flex;
        justify-content: center;
        width: 80%;
        margin: auto;
    }

    &__bullets-item {
        display: inline-block;
        box-sizing: border-box;
        list-style-type: none;
        width: $bullet-size;
        height: $bullet-size;
        border: $bullet-border-width solid white;
        border-radius: $bullet-size/2;
        margin: $bullet-size $bullet-margin 0 $bullet-margin;
        transition: background-color $tran-duration-info;
        flex-shrink: 0;

        &_active {
            background-color: white;
        }
        &:hover {
            background-color: rgba(255,255,255, .3);
            cursor: pointer;
        }
    }


    //------------------------------------------------------------------------------
    //  mobile version
    //------------------------------------------------------------------------------
    

    @media (max-width: $base-bp) {

        &__button {
            font-size: $font-size-button-mv;
            padding: 10px;
        }
    
        &__button_prev {
            left: 0;
            top: calc(50% - #{$font-size-button-mv});
    
        }
        &__button_next {
            right: 0;
            top: calc(50% - #{$font-size-button-mv});
        }
    
        &__button_play-pause {
            right: 0;
            bottom: 0.5em; 
        }

        &__container-info {
            width: auto;
        }

        &__title-info {
            font-size: $font-size-title-info-mv;
        }

        &__description-info {
            font-size: $font-size-description-info-mv;
            padding: 0 1em;
        }

        &__bullets {
            display: none;
        }

    }

}


.simple-slider__info:hover {
    background: #91dd89;
    color: #000;
}

.simple-slider__link {
    text-decoration: none;
    /*text-shadow: rgba(255,255,255,0.5) 0 0 40px;*/
    color: inherit;
    height: 100%;
    padding: 0 25px;
    display: block;
}

