.dropdown {
    transition: height .5s;
    will-change: height;
    //------------------------------------------------------------------------------
    //  mods
    //------------------------------------------------------------------------------
    &_open {
        display: block;
        height: 100%;
    }
}