.dropdown {

    //------------------------------------------------------------------------------
    //  mods
    //------------------------------------------------------------------------------
    &_open {
        display: block;
        //transition: height 1s;
        //will-change: height;
    }
    &_transitioning {
        transition: height 1s;
        display: block;
        //will-change: height;
        overflow: hidden;
    }
}