.dropdown {
    transition: height 1s;
    will-change: height;
    overflow: hidden;

    //------------------------------------------------------------------------------
    //  mods
    //------------------------------------------------------------------------------
    &_open {
        display: block;
        //transition: height 1s;
        //will-change: height;
    }
}