.base-slider {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: #fff;
}

.base-slider__item {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform .5s, opacity .5s; /*paging speed*/
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: -1;
}


.base-slider__button {
    font-size: 35px;
    padding: 15px 10px;
    color: rgba(50, 60, 48, 0.5);
    position: absolute;
    z-index: 50;
    transition: all .2s;
    cursor: pointer;
    -webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;
}

.base-slider__button:hover {
    color: rgba(170, 255, 162, 0.6);
    text-shadow: rgba(103, 163, 98, 0.6) 0 0 3px;
}

.base-slider__button:active {
    box-shadow: none;
    transition: none;
    text-shadow: none;
}

.base-slider__button_dir-prev {
    left: 1%;
    top: calc(50% - 60px);
}
.base-slider__button_dir-next {
    right: 1%;
    top: calc(50% - 60px);
}

.base-slider__button_play-pause {
    right: 1%;
    bottom: 0;
}

.base-slider__icon {
    vertical-align: middle;
    display: inline-block;
}

.base-slider__button-loaded {
    font-size: 40px;
    padding: 5px 3px;
    color: #d1ffc8;
    position: absolute;
    z-index: 0;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
}

.base-slider__info {
    border-radius: 3px;
    font: 24px/40px 'Roboto-Regular', Arial, Helvetica, sans-serif;
    color: #222;
    position: absolute;
    left: 2.5%; bottom: 20px;
    height: 40px;
    opacity: 1;
    will-change: opacity, transform, background-color;
    transform: translateY(0);
    transition:transform .3s, opacity .3s, background-color .1s;
    background: #AAFFA2;
}

.base-slider__info_hidden {
    opacity: 0;
    transition-duration: 0s;
    transform: translateY(-200%);
}

/*!*background for info*! (for transparent background)
.base-slider__info::before {
    content: "";
    background: #AAFFA2;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    opacity: 1;
    z-index: -1;
    transition: opacity .2s;
    border-radius: 3px;
}*/

.base-slider__info:hover {
    background: #91dd89;
    color: #000;
}

.base-slider__link {
    text-decoration: none;
    /*text-shadow: rgba(255,255,255,0.5) 0 0 40px;*/
    color: inherit;
    height: 100%;
    padding: 0 25px;
    display: block;
}

/*.base-slider__info:hover::before { (for transparent background)
    opacity: 1;
    background: #91dd89;
}*/


@media screen and (max-width: 767px) {

    .base-slider__button {
        font-size: 25px;
        padding: 10px;
    }

    .base-slider__button_dir-prev {
        left: 0;
        top: calc(50% - 25px);

    }
    .base-slider__button_dir-next {
        right: 0;
        top: calc(50% - 25px);
    }

    .base-slider__button_play-pause {
        right: 0;
        bottom: 0;/*~.base-slider__info*/
        padding: 0 5px 0 0; /*~.base-slider__info*/
        line-height: 40px/*~.base-slider__info*/
    }

    .base-slider__info {
        bottom: 0; left: 0;
        width: 100%;
        transition: opacity .2s, background-color .1s;
        background: rgba(255,255,255,.3);
        color: #333;
        font: 20px/40px 'Roboto-Regular', Arial, Helvetica, sans-serif;
    }
    .base-slider__link {
        padding: 0 10px;
    }
    .base-slider__info:hover {
        background: rgba(255,255,255,.5);
    }

    .base-slider__info_hidden {
        transform: translateY(0);
    }
}