//@import "../node_modules/mathsass/dist/math"; //https://www.npmjs.com/package/mathsass

$height: 1.15em; //высота кнопки ( без учета padding(button-menu) и margin(button-menu__area-pointer) )
$width: 1.8em; //ширины кнопки (без учета padding и margin)
$lineWidth: 2px; //Ширина линии
$colorHover: $pink; //цвет lines при наведении

$alpha: rad-to-deg(atan($height/$width), true); //угол наклона lines
$newWidth: $height/sin($alpha);
$deltaWidth: $newWidth - $width;

//в случае неравномерности пробелов м/у линиями поиграться с top и bottom у .button-menu__line_top/bottom/middle и .button-menu__line_bottom

.button-menu {
    //для position: absolute
    //height: 100%;
    //margin: auto;
    //top: 0; bottom: 0;
    //z-index: 105;
    cursor: pointer;
    //border: 1px solid lightgray;
    padding: 4px; //набивка вокруг lines

    //------------------------------------------------------------------------------
    //  children
    //------------------------------------------------------------------------------

    &__area-pointer {
        width: $width;
        height: $height;
        //margin: 4px; //отступ от lines
        position: relative;
    }

    &__line {
        width: 100%;
        height: $lineWidth;
        position: absolute;
        background: white;
        left: 0;
        transition: transform .5s;
        display: block;
        will-change: transform;
    }

    &__line_top {
        top: 0;
    }

    &__line_middle {
        top: calc(50% - #{$lineWidth/2} + 1px);
    }

    &__line_bottom {
        bottom: 0;
    }

    //для крестика в пределах блока (большой крест) button-menu__area-pointer раскоментировать width, translateX
    .button-menu_open .button-menu__line_top {
        transform: translateY(calc(#{$height/2} - #{$lineWidth/2})) /*translateX(#{-$deltaWidth/2})*/
        rotate($alpha);
        /*width: $newWidth;*/
    }
    //для крестика в пределах блока button-menu__area-pointer раскоментировать width, translateX
    .button-menu_open .button-menu__line_bottom {
        transform: translateY(calc(#{-$height/2} + #{$lineWidth/2})) /*translateX(#{-$deltaWidth/2})*/
        rotate(-#{$alpha});
        /*width: $newWidth;*/

    }

    .button-menu_open .button-menu__line_middle {
        transform: scaleX(0);
    }

    .button-menu:hover .button-menu__line {
        box-shadow: 0 0 1px 1px #{$colorHover};
    }

    //------------------------------------------------------------------------------
    //  mods
    //------------------------------------------------------------------------------
    &_hide {
        display: none;
    }

}

