//screen sizes
$scr-xs:    0 !default;
$scr-sm:    576px !default;
$scr-md:    768px !default;
$scr-lg:    992px !default;
$scr-xl:    1200px !default;
$scr-xxl:   1600px !default;

//column width
$grid-col-width: 70px !default;
//column gutter width
$grid-gutter-width: 30px !default;

//not use! number of columns
$grid-columns: 16 !default;


//base breakpoint
$base-bp: $scr-sm !default;
//max breakpoint ( max container width)
$max-bp: $scr-xxl !default;

//container width
$grid-cont-max-width: $max-bp - $grid-gutter-width !default;

//container-fluid width:100%;
@mixin fluid-container(){
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: 100%;
  flex-wrap: wrap;
}

@mixin flex-container($max-width: $max-bp) {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  max-width: $max-width - $grid-gutter-width;
  margin: auto;
  flex-wrap: wrap;
}

//col == row mode
@mixin col-row(
  $bp: $base-bp
) {
  @media ( max-width: $bp) {
    width: 100%;
    @content;
  }
}

@mixin col(
  $bp: $base-bp, //screen size
  $num-cal: 1, //num of col grid, optional
  $width: null, //width col, optional
  $padding: false //set margin right ($grid-gutter-width)
) {
  @media (max-width: $bp) {
    @if ($width != null) {
      width: $width;
    } @else {
      width: ($grid-col-width + $grid-gutter-width) * $num-cal - $grid-gutter-width;
      @if ($padding) {
        padding-right: $grid-gutter-width/2;
        padding-left: $grid-gutter-width/2;
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}