$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1600px
) !default;

@mixin flex-container($breakpoint: $base-breakpoint, $max-width: $max-breakpoint) {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
  max-width: $max-width;
  margin: auto;

  //показываем в одну строку
  @media (max-width: $breakpoint) {
    flex-wrap: wrap;
  }

}