$grid-rows: 6; //количество ячеек сетки по высоте
$height-logotype: $grid-height*$grid-rows; //высота строки логотипа
$height-img-logotype: $height-logotype - $grid-gutter-width/2; //высота изображения логотипа
$logo-name-font-size: $base-font-size*$grid-rows/3;
$occupation-font-size: $base-font-size*$grid-rows/4;


.header {
  box-sizing: border-box;
  padding-top: $grid-height*.5;
  padding-bottom: $grid-height*.5;
  white-space: nowrap;


//строка логотипа
  &__logotype {
    //flex
    //todo
    @include flex-container(map-get($grid-breakpoints, $base-breakpoint-name));
  }

  &__logo-img {
    height: $height-img-logotype;
    width: $height-img-logotype;
    margin-right: $grid-gutter-width*0.8;
    flex-shrink: 0;
}

  &__logo-text {
    text-align: center;
    color: white;
    padding-bottom: .5em;
    //todo
    @media (map-get($grid-breakpoints, $base-breakpoint-name)) {
      width: 100%;
    }
  }

  &__logo-name {
    font-size: $logo-name-font-size;
    line-height: 1.05em;
    padding: 0 .5em 0;

    //bottom line
    border-bottom: 3px solid white;
    display: inline-block;
  }

  &__logo-occupation {
    font-size: $occupation-font-size;
    line-height: .95em;
    letter-spacing: 0.03em;
  }



}