$grid-rows: 6; //количество ячеек сетки по высоте
$height-logotype: $grid-height*$grid-rows; //высота строки логотипа
$logo-name-font-size: $base-font-size*$grid-rows/3;
$occupation-font-size: $base-font-size*$grid-rows/4;


.header {
  box-sizing: border-box;
  padding-top: $grid-height*.5;
  padding-bottom: $grid-height*.5;

  &__logotype {
    //flex
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
    max-width: $max-breakpoint;
  }

  &__logo-img {
    box-sizing: border-box;
    height: $height-logotype - $grid-gutter-width/2;
    width: $height-logotype - $grid-gutter-width/2;
    margin-right: $grid-gutter-width*0.8;
}

  &__logo-text {
    text-align: center;
    color: white;
    display: inline-block;
    padding-bottom: .5em;
  }

  &__logo-name {
    font-size: $logo-name-font-size;
    border-bottom: 3px solid white;
    line-height: 1.05em;
    padding: 0 .5em 0;
  }

  &__logo-occupation {
    font-size: $occupation-font-size;
    line-height: .95em;
    letter-spacing: 0.03em;
  }
}