.logotype {

    //variables
    $logotype-img-height: $logotype-height - $grid-gutter-width/1.5; //высота изображения логотипа
    $logo-name-font-size: $base-font-size*($logotype-height/$grid-height)/3; //в скобках кол-во ячеек сетки grid
    $occupation-font-size: $base-font-size*($logotype-height/$grid-height)/4.5;
    $bottom-line-offset: .3em;

    //flex
    @include fluid-container;

    position: relative;
    white-space: nowrap;
    height: $logotype-height;
    font-family: PT Sans, sans-serif;

    //------------------------------------------------------------------------------
    //  children
    //------------------------------------------------------------------------------

    &__logo-img {
        height: $logotype-img-height;
        width: $logotype-img-height;
        margin-right: $grid-gutter-width*0.8;
        flex-shrink: 0;
        
        @media (max-width: $scr-sm) {
          //for horisontal align
          margin-right: 0; 
        }
    }

    &__logo-text {
        @include single-col($scr-sm);

        text-align: center;
        color: white;
        padding-bottom: .5em;
    }

    &__logo-name {
        font-size: $logo-name-font-size;
        line-height: 1.05em;
        padding: 0 $bottom-line-offset 0;

        //bottom line
        border-bottom: 3px solid white;
        display: inline-block;
    }

    &__logo-occupation {
        font-size: $occupation-font-size;
        line-height: .95em;
        letter-spacing: 0.03em;
    }

    &__tel {
        position: absolute;
        right: 20px;
        color: white;
        font-size: $base-font-size*1.1;
        text-decoration: none;
        transition: color .3s;
        opacity: .8;

        @media(max-width: $scr-xl) {
            display: none;
        }

        &:hover {
            color: $pink-text;
        }
    }

    //------------------------------------------------------------------------------
    //  mobile version
    //------------------------------------------------------------------------------

    @media (max-width: $base-bp) {

        height: auto;
        padding-top: $grid-height*.5;
        padding-bottom: $grid-height*.5;

        &__logo-img {
            height: $logotype-img-height*.75;
            width: $logotype-img-height*.75;
            margin-bottom: $gutter-vertical/3;
        }

        &__logo-name {
            font-size: $logo-name-font-size*.75;
        }

        &__logo-occupation {
            font-size: $occupation-font-size*.75;
        }
    }


    //------------------------------------------------------------------------------
    //  mods
    //------------------------------------------------------------------------------
    &_theme-grey {
        .logotype__logo-text {
            color: $dark-gray;
        }
        .logotype__logo-name {
            //bottom line
            border-bottom-color: $dark-gray;
        }
        .logotype__tel {
            color: $dark-gray;
            
            &:hover {
                color: $pink-text;
            }
        }
    }


}
