.photo-block {
    height: 100%;//temp
    background-color:  rgb(241, 200, 200); //temp
    //text-align: center;
    

    @include col-row {
        background-color:  rgb(253, 104, 104);
      };

//------------------------------------------------------------------------------
//  children
//------------------------------------------------------------------------------

      &__single-img {
          height: 100%;
          //display: inline-block;
          display: block;
      }

//------------------------------------------------------------------------------
//  mods
//------------------------------------------------------------------------------
      &_half {
        @include col($num-cal: 8);
    }
}

