.photo-block {
    //background-color:  rgb(241, 200, 200); //temp
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 20%;
    

//------------------------------------------------------------------------------
//  children
//------------------------------------------------------------------------------

      &__img-hide {
          display: block;
          opacity: 0;
          height: 100%;
          
      }

//------------------------------------------------------------------------------
//  mods
//------------------------------------------------------------------------------
      &_half {
        width: 50%;
      }
      &_FS {
        height: 100%;
      }
    
        

//------------------------------------------------------------------------------
//  mobile
//------------------------------------------------------------------------------
    @include single-col {
        background-color:  rgb(253, 104, 104);
      };
    @media (max-height: 800px) {
        background-size: cover;
        }
}

