.nav-menu {
    $border-bottom-width: 2px;
    height: $grid-height*3.5;
    
    @include fluid-container;
    position: relative;

    //background for nav-menu
    &::after {
        content: "";
        position: absolute;
        background: #fff;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;

    }


    //------------------------------------------------------------------------------
    //  children
    //------------------------------------------------------------------------------


    &__list {
        height: 100%;
        max-width: $scr-md;
    }

    //hide line for hover another item
    &__list:hover &__link-text {
        border-bottom: $border-bottom-width solid transparent;
    }


    &__item {
        height: 100%;
        display: inline-block;
        text-align: center;
        font-size: $base-font-size*1.1;
    }

    //bottom line for active
    &__item_active &__link-text {
        border-bottom: $border-bottom-width solid $pink-text;
    }


    &__link {
        display: inline-block;
        height: 100%;
        width: 100%;
        text-decoration: none;
        vertical-align: middle;
        box-sizing: border-box;
        padding: 0 1em;
        color: $pink-text;

        //for medium screen
        @media (max-width: $scr-lg) {
            padding: 0 $grid-gutter-width/2;
        }

        //vertical-align for link-text
        &::before {
            content: "";
            height: 100%;
            display: inline-block;
            vertical-align: middle;
        }
        //bottom line for hover
        &:hover .nav-menu__link-text {
            border-bottom: $border-bottom-width solid $pink-text;
            //text-decoration: underline;
        }
    }


    &__link-text {
        display: inline-block;
        vertical-align: middle;
        border-bottom: $border-bottom-width solid transparent;
        transition: border .3s;
        line-height: 1;
    }

    &__button {
        //for desktop version
        @media (min-width: $base-bp + 1px) {
            display: none;
        }
    }


    //------------------------------------------------------------------------------
    //  mobile version
    //------------------------------------------------------------------------------


    @media (max-width: $base-bp) {

        height: auto;
        padding: .5em 0;

        //background for nav-menu
        &::after {
            display: none;
        }

        &__list {
            margin-top: $grid-height/2;
            display: none;
        }

        &__item {
            display: block;
            margin: 0;
            height: auto;
            padding: .2em 0;
            font-size: $base-font-size*.9;
        }

        &__button {
            position: fixed;
            top: 1.5em;
            right: 1.5em;
        }

        //bottom line for active
        &__item_active &__link-text {
            border-bottom-color: $pink-text;
        } 
        
        //hide line for hover another item
        &__list:hover &__link-text {
            border-bottom-color: transparent; 
        }   

         //bottom line for hover
         &__item:hover .nav-menu__link-text {
            border-bottom-color: $pink-text ; 
            //text-decoration: underline;
        }
    }


    //------------------------------------------------------------------------------
    //  mods
    //------------------------------------------------------------------------------

    &_theme-transparent {
        &::after {
            opacity: .57;
            will-change: opacity;
            transition: opacity .5s;
        }
        &:hover::after {
            opacity: .65;
        }

        @media (max-width: $base-bp) {

            //background for nav-menu
            .nav-menu::after {
                display: block;
            }

            .nav-menu__button {
                opacity: .8;
            }
            .nav-menu__link {
                color: white;
            } 

             //bottom line for active
            .nav-menu__item_active .nav-menu__link-text {
                border-bottom-color: white;
            }    
            //bottom line for hover
            .nav-menu__item:hover .nav-menu__link-text {
                border-bottom-color: white ; 
                //text-decoration: underline;
            } 
        }
    }

    &_theme-lightgrey {
        &::after {
            opacity: 1;
            background: $light-gray;
        }

        @media (max-width: $base-bp) {
            .nav-menu__link {
                color: $pink-text;
            } 
        }
    }
    
}