.nav-menu {
    $border-bottom-width: 2px;


    height: $grid-height*4;
    @include fluid-container;
    position: relative;

    @media (max-width: $scr-md) {
        height: auto;
        padding: .5em 0;
    }

    //background for nav-menu
    &::after {
        content: "";
        position: absolute;
        background: #fff;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }


    //------------------------------------------------------------------------------
    //  children
    //------------------------------------------------------------------------------


    &__list {
        height: 100%;
        max-width: $scr-md;
    }

    //hide line for hover another item
    &__list:hover &__link-text {
        border-bottom: $border-bottom-width solid transparent;
    }


    &__item {
        height: 100%;
        display: inline-block;
        text-align: center;
        font-size: $base-font-size*1.1;

        @media (max-width: $scr-md) {
            display: block;
            margin: 0;
            height: auto;
            padding: .2em 0;
        }
    }

    //bottom line for active
    &__item_active &__link-text {
        border-bottom: $border-bottom-width solid $pink-text;
    }


    &__link {
        display: inline-block;
        height: 100%;
        width: 100%;
        text-decoration: none;
        vertical-align: middle;
        box-sizing: border-box;
        padding: 0 1em;
        color: $pink-text;

        @media (max-width: $scr-lg) {
            padding: 0 $grid-gutter-width/2;
        }

        //vertical-align for link-text
        &::before {
            content: "";
            height: 100%;
            display: inline-block;
            vertical-align: middle;
        }
        //bottom line for hover
        &:hover .nav-menu__link-text {
            border-bottom: $border-bottom-width solid $pink-text;
            //text-decoration: underline;
        }
    }


    &__link-text {
        display: inline-block;
        vertical-align: middle;
        border-bottom: $border-bottom-width solid transparent;
        transition: border .3s;
        line-height: 1;

    }

    &__tel {
        position: absolute;
        right: 3%;
        color: $pink-text;
        font-size: $base-font-size*0.9;
        font-weight: bold;
        border-bottom: $border-bottom-width solid transparent;
        text-decoration: none;

        @media(max-width: $scr-xl) {
            display: none;
        }

        @media(min-width: $scr-xxl) {
            right: 5%;
        }

    }


    //------------------------------------------------------------------------------
    //  mods
    //------------------------------------------------------------------------------

    &_theme-transparent {
        &::after {
            opacity: .57;
            will-change: opacity;
            transition: opacity .3s;
        }
        &:hover::after {
            opacity: .7;
        }
    }

}