.nav-menu {
    height: $grid-height*4;
    @include fluid-container;
    position: relative;

    @media (max-width: $scr-md) {
        height: auto;
        padding: .5em 0;
    }

    &::after {
        content: "";
        position: absolute;
        background: #fff;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
    }

   

    //children
    &__list {
        height: 100%;
    }

    &__item {
        height: 100%;
        display: inline-block;
        font-size: $base-font-size*1.1;
        margin-right: 2em;
        text-align: center;
        &:last-child {
            margin-right: 0;
        }

        @media (max-width: $scr-md) {
            display: block;
            margin: 0;
            height: auto;
            padding: .2em 0;
        }
    }


    //bottom line for active
    &__item_active &__link-text {
        border-bottom: 2px solid $pink-text;
    }



    &__link {
        display: inline-block;
        height: 100%;
        text-decoration: none;
        vertical-align: middle;
        box-sizing: border-box;
        padding: 0 4px;
        color: $pink-text;
        line-height: 1;

        &::before {
            content: "";
            height: 100%;
            display: inline-block;
            vertical-align: middle;
        }

        &:hover .nav-menu__link-text {
            border-bottom: 2px solid $pink-text;
            //text-decoration: underline;
        }
    }

    &__link-text {
        display: inline-block;
        vertical-align: middle;
        border-bottom: 2px solid transparent;
        transition: border .3s;

    }


    //mods

    &_theme-transparent {
        &::after {
            opacity: .57;
            will-change: opacity;
            transition: opacity .3s;
        }
        &:hover::after {
            opacity: .7;
        }
    }
    
   

    

    
}