//temp
//@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap&subset=cyrillic,cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400&display=swap&subset=cyrillic');

@font-face {
    font-family: PT Sans; 
    src: url(/fonts/PT_Sans-Web-Regular.ttf); 
    font-style: normal;
   }
@font-face {
    font-family: PT Sans; 
    src: url(/fonts/PT_Sans-Web-Bold.ttf); 
    font-style:  normal;
    font-weight: bold;
   }
@font-face {
    font-family: PT Sans; 
    src: url(/fonts/PT_Sans-Web-Italic.ttf);
    font-style:  italic;
   }

html, body {
    height: 100%;
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-weight: normal;
    margin: 0;
}