//with use _grid.scss

// use screen sizes
$scr-sm:    576px;
$scr-md:    768px;
$scr-lg:    992px;
$scr-xl:    1200px;
$scr-xxl:   1600px;

//! not use: breakpoint-name
$base-bp-name: md;
$max-bp-name: xxl;

$base-bp: $scr-md;
$max-bp: $scr-xxl;

//базовый интерлиньяж(36px)/2
$grid-height: 18px;
$gutter-vertical: 18px;

$base-font-size: 20px;

//grid set
$grid-col-width: 70px;
$grid-gutter-width: 30px;
$grid-columns: 16;
$grid-cont-max-width: $max-bp - $grid-gutter-width;


$light-gray: #bbb;
$gray: #666;
$pink: #F6B7C4;
$pink-text: #fc90b8;
$dark-pink: #f27a8a;
