//????????
//breakpoint-name
$base-bp-name: md;
$max-bp-name: xxl;

$base-bp: $scr-md;
$max-bp: $scr-xxl;

//базовый интерлиньяж(36px)/2
$grid-height: 18px;
$gutter-vertical: 18px;

$base-font-size: 20px;

$grid-col-width: 70px;
$grid-gutter-width: 30px;
$grid-columns: 16;
$grid-container-width: ($grid-col-width + $grid-gutter-width)*$grid-columns;


$light-gray: #bbb;
$gray: #666;
$pink: #F6B7C4;
$pink-text: #fc90b8;
$dark-pink: #f27a8a;
