.logo {
    background-image: url(logo_color.svg);//default
    background-repeat: no-repeat;
    background-position: center;
}

.logo_theme-color-70 {
    background-image: url(logo_color_70.svg);
}
